<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65357106650-cf6892a77r5t41675hsb8pqs1te5a270.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65357106650-cf6892a77r5t41675hsb8pqs1te5a270</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>65357106650-gjkk7v595hm94qe2qjsftbu18vcf3qmo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBP1386sykxpPDUDtmcsqP8MMl5L2PcDw</string>
	<key>GCM_SENDER_ID</key>
	<string>65357106650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.calhacks</string>
	<key>PROJECT_ID</key>
	<string>butane-67e0e</string>
	<key>STORAGE_BUCKET</key>
	<string>butane-67e0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65357106650:ios:e23db3ae79d8f9b91ec4e3</string>
</dict>
</plist>